<%= render "layouts/errors", :object => @contribution %>

<h1>Edit Contribution</h1>

<% @contribution.images.each do |image| %>
  <%= image_tag(image.src, :class => image.animation, :height => image.size) %>
<% end %>

<%= form_for [@story, @contribution] do |f| %>
  <%= f.text_area :sentence, size: "120x20", id: 'sentence' %><br><br>
  <%= f.text_field :user, id: 'user' %>

  <%= f.submit %>
<% end %>

<% content_for(:footer) do %>
<%= link_to 'Back', story_path(@story) %> |
<%= link_to 'Home', stories_path %>
<% end %>
