<%= render "layouts/errors", :object => @contribution %>

<h1>New Contribution</h1>

<% @randomImages.each do |randomImage| %>
  <%= image_tag(randomImage.src, :class => randomImage.animation, :height => randomImage.size) %>
<% end %>
<br>

<%= form_for [@story, @contribution] do |f| %>

  <%= f.hidden_field :image_ids_string, value: "#{@randomImages.first.id},#{@randomImages.last.id}" %><br>

  <%= f.label :sentence %><br>
  <%= f.text_area :sentence, size: "120x20" %><br>
  <%= f.label :user %>
  <%= f.text_field :user %>

  <%= f.submit %>
<% end %>

<% content_for(:footer) do %>
<%= link_to 'Back', story_path(@story) %> |
<%= link_to 'Home', stories_path %>
<% end %>
