  <% @contribution.images.each do |image| %>
    <%= image_tag(image.src, :class => image.animation, :height => image.size) %>
  <% end %>

  <h4>
      <pre><%= @contribution.sentence %><br>
    <small>
      by <%= @contribution.user %>
    </small></pre>
</h4>

<hr>
<footer>
  <%= link_to 'Edit', edit_story_contribution_path(@story, @contribution) %> |
  <%= link_to 'Delete', story_contribution_path(@story, @contribution), :data => {:confirm => "Are you sure?", :method => "delete"}%>
</footer>

<% content_for(:footer) do %>
<%= link_to 'Back', story_path(@story) %> |
<%= link_to 'Home', stories_path %>
<% end %>
