<h1><%= @story.title %></h1>

<% if @story.contributions.any? %>
  <ul>
    <% @story.contributions.each do |contribution| %>
      <li>
        <%= link_to story_contribution_path(@story, contribution) do %>
        <% contribution.image_urls.each do |image_url| %>
          <%= image_tag(image_url, height: '64') %>
        <% end %>
        <% end  %>


        <h4>
          <%= contribution.sentence %><br>
          <small>
            by <%= contribution.user %>
          </small>
      </h4>
      </li>
    <% end %>
  </ul>
<% else %>
<p>
  No contributions, yet!
</p>
<% end %>

<h3><%= link_to 'Add Contribution', new_story_contribution_path(@story) %></h3>

<hr>
<footer>
  <%= link_to 'Edit', edit_story_path(@story) %> |
  <%= link_to 'Delete', story_path(@story), :data => {:confirm => "Are you sure?", :method => "delete"}%>
</footer>
