<h1><%= @story.title %></h1>



<% if @story.contributions.any? %>
  <ul>
    <% @story.contributions.each do |contribution| %>
      <li class = "jumbotron">
        <%= link_to story_contribution_path(@story, contribution) do %>

        <div class = 'well'>
          <% contribution.images.each do |image| %>
            <%= image_tag(image.src, :class => image.animation, :height => image.size) %>
          <% end %>
        </div>
        <% end  %>

        <h4 >
          <%= contribution.sentence %><br>
          <small>
            by <%= contribution.user %>
          </small>
      </h4>
      </li>
    <% end %>
  </ul>
<% else %>
<p>
  No contributions, yet!
</p>
<% end %>

<h3><%= link_to 'Add Contribution', new_story_contribution_path(@story) %></h3>

<% content_for(:footer) do %>
  <%= link_to 'Edit', edit_story_path(@story) %> |
  <%= link_to 'Delete', story_path(@story), :data => {:confirm => "Are you sure?", :method => "delete"}%> |
  <%= link_to 'Home', stories_path %>
<% end %>
